/*  Seletor por TAG */

body{
    font-family: Arial, Helvetica, sans-serif; /* define o tipo de fonte */
    margin: 0 ; /* define a margem */
    background-color: #f5f5f5;
    color: rgba(7, 2, 1, 0.89); /* cor da fonte */
    line-height: 1.5; /*espaçamento entre o texto*/
}

header{
    background-color: #c06f06d3  ;
    color: whitesmoke;
    padding: 24px 16px; /* afasta das bordas (para medidas diferentes usar lado a lado ex: padding: 24px 16px;[superior e inferior| espaçamento lateral] */
    text-align: center; /* alinhamento de texto*/
}


/* Seletor pro classe*/

.container{
    max-width: 900px;  /* define a largura maxima*/
    margin: 18px auto;
    color: black;
    padding: 0 16px;
    

}