



body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: antiquewhite;
    height: 80px;
    padding: 20px 15px;
    
    .logo {
        width: 100px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .login-icon {
        display: flex;
        width: 90px;
        justify-content: right;
        margin-left: auto;
        margin-top: -104px;
        align-items:normal;
    }    



}



#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 60px 0 40px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: gray;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, gray, gray);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}


main {
    background-color: antiquewhite;
    padding: 20px 15px;
    margin-top: 20px;
    margin-bottom: 20px;

  img{
    display: flex;
    justify-content: center;
    width: auto;
    size: auto;
    margin: 18px auto;
    padding: 0 auto;
  }

  p{
    text-align: center;
    text-decoration:underline;
  }
  nav{
    display: flex;
    justify-content: center;
  }
  nav a{
    color: hsl(0, 12%, 93%);
    text-decoration: none; /* retira decoração do texto */
    padding: 8px 12px;
    background-color: gray;
    border-radius: 10px; /* Deixa os cantos redondos */
    border: 1px solid whitesmoke;
    
  }
}

section {
  background-color: antiquewhite;
  padding: 20px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  .div1 a{
    color: hsl(0, 12%, 93%);
    text-decoration: none; /* retira decoração do texto */
    padding: 8px 12px;
    background-color: gray;
    border-radius: 10px; /* Deixa os cantos redondos */
    border: 1px solid whitesmoke;
  }

  .div2 a{
    color: hsl(0, 12%, 93%);
    text-decoration: none; /* retira decoração do texto */
    padding: 8px 12px;
    background-color: gray;
    border-radius: 10px; /* Deixa os cantos redondos */
    border: 1px solid whitesmoke;
  }

  .div3 a{
    color: hsl(0, 12%, 93%);
    text-decoration: none; /* retira decoração do texto */
    padding: 8px 12px;
    background-color: gray;
    border-radius: 10px; /* Deixa os cantos redondos */
    border: 1px solid whitesmoke;
  }

  .div4 a{
    color: hsl(0, 12%, 93%);
    text-decoration: none; /* retira decoração do texto */
    padding: 8px 12px;
    background-color: gray;
    border-radius: 10px; /* Deixa os cantos redondos */
    border: 1px solid whitesmoke;
  }

}

article {
  background-color: antiquewhite;
  padding: 20px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  p{
    background-color: rgb(179, 177, 177);
    text-align:justify;
  }

}


footer {
  background-color: antiquewhite;
  padding: 20px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  nav{ 
    display: flex;
    justify-content: center;
    gap: 40px;
   a{
    color: hsl(0, 12%, 93%);
    text-decoration: none; /* retira decoração do texto */
    padding: 8px 12px;
    background-color: gray;
    border-radius: 10px; /* Deixa os cantos redondos */
    border: 1px solid whitesmoke;
   }
  }
}